<h1>Flights</h1>

<table style="width: 30%" id='flight-index'>
  <tr>
    <th>Flight Number</th>
    <th>Airline</th>
    <th>Passengers</th>
  </tr>
  <tr>
    <% @flights.each do |flight| %>
      <tr>
        <td><%= flight.number %></td>
        <td><%= flight.airline_name %></td>
        <td><ul><% flight.passengers.each do |passenger| %>
            <li><%= passenger.name %>
            <%= link_to "Remove #{passenger.name}", flight_flight_passenger_path(flight, passenger), method: :delete %>
            </li>
          <% end %>
        </ul></td>
    <% end %>
  </tr>
</table>